/*for style.css*/
body {
    font-family: Verdana;
    font-size: 2em;
}

#p3 {
    display: block;
    text-align: center;
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: brown;
}

#buttonbox {
    text-align: center;
    
}

.button {
    padding: 20px 20px;
    font-size: 1.5em;
    background-color: slateblue;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.5s;
 }

.button:hover {
    background-color: darkblue;
}